<section class="indexpage">
<h1 class="header">Here is a list of Users<h1/>
<ul class="profile profile-content">
<% @users.each do |person| %>
    
    <img class="image" src='<%= person.photo %>' />
    <div>
        <h2><%= link_to person.name, user_path(person) %></h2>
        <span>Number of posts: <%= person.posts.length %> </span>
    </div>
    </li>
 <% end %>
</ul>

 </section>