<section>
<h1>Here is a list of Users<h1/>
<ul>
<% @users.each do |person| %>
    <li><a href = "users/<%= person.id %>">
    <img src='<%= person.photo %>' />
    <div>
        <h2><%= person.name %></h2>
        <span>Number of posts: <%= person.posts_counter %> </span>
    </div>
     
    </a></li>
 <% end %>
</ul>
 </section>